*.1 linguist-language=1 linguist-vendored=false
*.13 linguist-language=13 linguist-vendored=false
*.4 linguist-language=4 linguist-vendored=false
*.a linguist-language=A linguist-vendored=false
*.afm linguist-language=Afm linguist-vendored=false
*.apache linguist-language=Apache linguist-vendored=false
*.apache2 linguist-language=Apache2 linguist-vendored=false
*.bridgesupport linguist-language=Bridgesupport linguist-vendored=false
*.bsd linguist-language=Bsd linguist-vendored=false
*.build linguist-language=Build linguist-vendored=false
*.c linguist-language=C linguist-vendored=false
*.cer linguist-language=Cer linguist-vendored=false
*.cfg linguist-language=Config File linguist-vendored=false
*.command linguist-language=Command linguist-vendored=false
*.cpp linguist-language=C++ linguist-vendored=false
*.csh linguist-language=Csh linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.csv linguist-language=Csv linguist-vendored=false
*.dat linguist-language=Dat linguist-vendored=false
*.dockerignore linguist-language=Docker linguist-vendored=false
*.ds_store linguist-language=Ds_store linguist-vendored=false
*.dylib linguist-language=Dylib linguist-vendored=false
*.egg linguist-language=Egg linguist-vendored=false
*.exe linguist-language=Exe linguist-vendored=false
*.external linguist-language=External linguist-vendored=false
*.f linguist-language=F linguist-vendored=false
*.f2py_f2cmap linguist-language=F2py_f2cmap linguist-vendored=false
*.f90 linguist-language=F90 linguist-vendored=false
*.f95 linguist-language=F95 linguist-vendored=false
*.fish linguist-language=Fish linguist-vendored=false
*.fits linguist-language=Fits linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.gz linguist-language=Gz linguist-vendored=false
*.h linguist-language=H linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.icns linguist-language=Icns linguist-vendored=false
*.ico linguist-language=Ico linguist-vendored=false
*.inc linguist-language=AWS Infra linguist-vendored=false
*.ini linguist-language=Ini linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.lgpl linguist-language=Lgpl linguist-vendored=false
*.lua linguist-language=Lua linguist-vendored=false
*.markdown-it linguist-language=Markdown-it linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mit linguist-language=Mit linguist-vendored=false
*.mplstyle linguist-language=Mplstyle linguist-vendored=false
*.npy linguist-language=Npy linguist-vendored=false
*.npz linguist-language=Npz linguist-vendored=false
*.pc linguist-language=Pc linguist-vendored=false
*.pdf linguist-language=Pdf linguist-vendored=false
*.pem linguist-language=PEM Key linguist-vendored=false
*.pkg linguist-language=Pkg linguist-vendored=false
*.pkl linguist-language=Pkl linguist-vendored=false
*.plist linguist-language=Plist linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.ps1 linguist-language=Powershell linguist-vendored=false
*.pth linguist-language=Pth linguist-vendored=false
*.pxd linguist-language=Pxd linguist-vendored=false
*.pxi linguist-language=Pxi linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.pyc linguist-language=Pyc linguist-vendored=false
*.pyf linguist-language=Pyf linguist-vendored=false
*.pyi linguist-language=Pyi linguist-vendored=false
*.pyx linguist-language=Pyx linguist-vendored=false
*.pyz linguist-language=Pyz linguist-vendored=false
*.rst linguist-language=Rst linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.so linguist-language=So linguist-vendored=false
*.spec linguist-language=Spec linguist-vendored=false
*.svg linguist-language=Svg linguist-vendored=false
*.tab linguist-language=Tab linguist-vendored=false
*.template linguist-language=Template linguist-vendored=false
*.tmpl linguist-language=Tmpl linguist-vendored=false
*.toc linguist-language=Toc linguist-vendored=false
*.toml linguist-language=Toml linguist-vendored=false
*.tpl linguist-language=Template File linguist-vendored=false
*.ttf linguist-language=Ttf linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.typed linguist-language=Typed linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.xrc linguist-language=Xrc linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
*.zi linguist-language=Zi linguist-vendored=false
*.zip linguist-language=Zip linguist-vendored=false
Dockerfile linguist-language=Docker linguist-vendored=false
